<div nz-row [nzGutter]="24">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card title="{{ 'analysis.overall-revenue' | translate }}" total="¥ 126,560" contentHeight="44px"
                [footer]="refooter">
      <trend flag="up" style="display: block; margin-top: 2px">
        {{ 'analysis.mom' | translate }}
        <span class="pl-sm">12%</span>
      </trend>
      <trend flag="down">
        {{ 'analysis.m2m' | translate }}
        <span class="pl-sm">11%</span>
      </trend>
      <ng-template #refooter>
        <p class="text-truncate mb0">
          {{ 'analysis.month-revenue' | translate }}
          <span class="ml-sm">￥12,423</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card title="{{ 'analysis.overall-expenditure' | translate }}" total="¥ 126,560" contentHeight="44px"
                [footer]="exfooter">
      <trend flag="up" style="display: block; margin-top: 2px">
        {{ 'analysis.mom' | translate }}
        <span class="pl-sm">12%</span>
      </trend>
      <trend flag="down">
        {{ 'analysis.m2m' | translate }}
        <span class="pl-sm">11%</span>
      </trend>
      <ng-template #exfooter>
        <p class="text-truncate mb0">
          {{ 'analysis.month-expenditure' | translate }}
          <span class="ml-sm">￥12,423</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card title="{{ 'analysis.overall-payroll' | translate }}" total="¥ 126,560" contentHeight="44px"
                [footer]="pafooter">
      <trend flag="up" style="display: block; margin-top: 2px">
        {{ 'analysis.mom' | translate }}
        <span class="pl-sm">12%</span>
      </trend>
      <trend flag="down">
        {{ 'analysis.m2m' | translate }}
        <span class="pl-sm">11%</span>
      </trend>
      <ng-template #pafooter>
        <p class="text-truncate mb0">
          {{ 'analysis.month-payroll' | translate }}
          <span class="ml-sm">￥12,423</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card title="{{ 'analysis.overall-profit' | translate }}" total="¥ 126,560" contentHeight="44px"
                [footer]="prfooter">
      <trend flag="up" style="display: block; margin-top: 2px">
        {{ 'analysis.mom' | translate }}
        <span class="pl-sm">12%</span>
      </trend>
      <trend flag="down">
        {{ 'analysis.m2m' | translate }}
        <span class="pl-sm">11%</span>
      </trend>
      <ng-template #prfooter>
        <p class="text-truncate mb0">
          {{ 'analysis.month-profit' | translate }}
          <span class="ml-sm">￥12,423</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
</div>
<nz-card [nzLoading]="loading" [nzBordered]="false" class="ant-card__body-nopadding overall-chart-card">
    <nz-tabset [nzAnimated]="false"  [nzTabBarExtraContent]="extraTemplate" (nzSelectedIndexChange)="expenditureTabChange($event)">
      <nz-tab nzTitle="{{ 'analysis.revenue' | translate }}">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
            <div class="bar">
              @if (expenditureTabs[0].show) {
                <g2-bar height="295" style="width: 100%" title="{{ 'analysis.revenue-trend' | translate }}" [data]="expenditureBarData" />
              }
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div class="rank">
              <h4 class="ranking-title">{{ 'analysis.revenue' | translate }}</h4>
              <ul class="rank-list">
                @for (i of rankingListData; track $index) {
                  <li>
                    <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                    <span class="title">{{ i.title }}</span>
                    <span class="value">{{ i.total | number: '3.0' }}</span>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="{{ 'analysis.revenue-details' | translate }}">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
            <div class="bar">
              @if (expenditureTabs[1].show) {
                <g2-timeline height="295" style="width: 100%" title="{{ 'analysis.revenue-trend' | translate }}"
                             [slider]="false"
                             [data]="expenditureLineData"
                             [titleMap]="{ y1: '客流量', y2: '支付笔数' }"/>
              }
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div class="rank">
              <h4 class="ranking-title">{{ 'analysis.revenue' | translate }}</h4>
              <ul class="rank-list">
                @for (i of rankingListData; track $index) {
                  <li>
                    <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                    <span class="title">{{ i.title }}</span>
                    <span class="value">{{ i.total | number: '3.0' }}</span>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>
      <ng-template #extraTemplate>
        <div>
          <nz-range-picker nzMode="month" [(ngModel)]="dateRange"/>
        </div>
      </ng-template>
    </nz-tabset>

</nz-card>
