<div nz-row [nzGutter]="24">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card title="{{ 'analysis.overall-revenue' | translate }}" [total]="'¥'+formatTotal(overall.revpay.total_revenue)" contentHeight="44px"
                [footer]="refooter">
      <trend [flag]="overall.revpay.mom_revenue && overall.revpay.mom_revenue > 0 ? 'up' : 'down'" style="display: block; margin-top: 2px">
        {{ 'analysis.mom' | translate }}
        <span class="pl-sm">{{ formatPercent(overall.revpay.mom_revenue) }}%</span>
      </trend>
      <trend [flag]="overall.revpay.m2m_revenue && overall.revpay.m2m_revenue > 0 ? 'up' : 'down'">
        {{ 'analysis.m2m' | translate }}
        <span class="pl-sm">{{ formatPercent(overall.revpay.m2m_revenue) }}%</span>
      </trend>
      <ng-template #refooter>
        <p class="text-truncate mb0">
          {{ 'analysis.month-revenue' | translate }}
          <span class="ml-sm">￥{{formatTotal(overall.revpay.cm_revenue)}}</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card title="{{ 'analysis.overall-expenditure' | translate }}" [total]="'¥'+formatTotal(overall.exp.total)" contentHeight="44px"
                [footer]="exfooter">
      <trend [flag]="overall.exp.mom && overall.exp.mom > 0 ? 'up' : 'down'" style="display: block; margin-top: 2px">
        {{ 'analysis.mom' | translate }}
        <span class="pl-sm">{{ formatPercent(overall.exp.mom) }}%</span>
      </trend>
      <trend [flag]="overall.exp.m2m && overall.exp.m2m > 0 ? 'up' : 'down'">
        {{ 'analysis.m2m' | translate }}
        <span class="pl-sm">{{ formatPercent(overall.exp.m2m) }}%</span>
      </trend>
      <ng-template #exfooter>
        <p class="text-truncate mb0">
          {{ 'analysis.month-expenditure' | translate }}
          <span class="ml-sm">￥{{formatTotal(overall.exp.cm)}}</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card title="{{ 'analysis.overall-payroll' | translate }}" [total]="'¥'+formatTotal(overall.revpay.total_payroll)" contentHeight="44px"
                [footer]="pafooter">
      <trend [flag]="overall.revpay.mom_payroll && overall.revpay.mom_payroll > 0 ? 'up' : 'down'" style="display: block; margin-top: 2px">
        {{ 'analysis.mom' | translate }}
        <span class="pl-sm">{{ formatPercent(overall.revpay.mom_payroll) }}%</span>
      </trend>
      <trend [flag]="overall.revpay.m2m_payroll && overall.revpay.m2m_payroll > 0 ? 'up' : 'down'">
        {{ 'analysis.m2m' | translate }}
        <span class="pl-sm">{{ formatPercent(overall.revpay.m2m_payroll) }}%</span>
      </trend>
      <ng-template #pafooter>
        <p class="text-truncate mb0">
          {{ 'analysis.month-payroll' | translate }}
          <span class="ml-sm">￥{{formatTotal(overall.revpay.cm_payroll)}}</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card title="{{ 'analysis.overall-profit' | translate }}" [total]="'¥'+formatTotal(overall.profit.total)" contentHeight="44px"
                [footer]="prfooter">
      <trend [flag]="overall.profit.mom && overall.profit.mom > 0 ? 'up' : 'down'" style="display: block; margin-top: 2px">
        {{ 'analysis.mom' | translate }}
        <span class="pl-sm">{{ formatPercent(overall.profit.mom) }}%</span>
      </trend>
      <trend [flag]="overall.profit.m2m && overall.profit.m2m > 0 ? 'up' : 'down'">
        {{ 'analysis.m2m' | translate }}
        <span class="pl-sm">{{ formatPercent(overall.profit.m2m) }}%</span>
      </trend>
      <ng-template #prfooter>
        <p class="text-truncate mb0">
          {{ 'analysis.month-profit' | translate }}
          <span class="ml-sm">￥{{formatTotal(overall.profit.cm)}}</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
</div>
<!-- revenue chart -->
<nz-card [nzBordered]="false" class="ant-card__body-nopadding overall-chart-card">
    <nz-tabset [nzAnimated]="false"  [nzTabBarExtraContent]="revenueExtraTemplate" (nzSelectedIndexChange)="revenueTabChange($event)">
      <nz-tab nzTitle="{{ 'analysis.revenue' | translate }}">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
            <div class="bar">
              @if (revenueTabs[0].show) {
                <g2-bar height="295" style="width: 100%" title="{{ 'analysis.revenue-trend' | translate }}" [data]="revenueBarData" />
              }
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div class="rank">
              <h4 class="ranking-title">{{ 'analysis.revenue-rank' | translate }}</h4>
              <ul class="rank-list">
                @for (i of revenueRankListData; track $index) {
                  <li>
                    <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                    <span class="title">{{ i.title }}</span>
                    <span class="value">¥{{ i.total }}</span>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="{{ 'analysis.revenue-details' | translate }}">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
            <div class="bar">
              @if (revenueTabs[1].show) {
                <g2-timeline height="295" style="width: 100%" title="{{ 'analysis.revenue-vehicle-trend' | translate }}"
                             [slider]="false"
                             [data]="revenueLineData"
                             mask="YYYY/MM"
                             [titleMap]="revenueLineTitleMap"/>
              }
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div class="rank">
              <h4 class="ranking-title">{{ 'analysis.revenue-rank' | translate }}</h4>
              <ul class="rank-list">
                @for (i of revenueRankListData; track $index) {
                  <li>
                    <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                    <span class="title">{{ i.title }}</span>
                    <span class="value">¥{{ i.total }}</span>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>
      <ng-template #revenueExtraTemplate>
        <div>
          <nz-select nzPlaceHolder="{{ 'global.select-vehicle-number' | translate }}" style="margin-right: 8px"
                     *ngIf="revenueTabs[1].show"
                     nzMode="multiple"
                     [nzMaxMultipleCount]="5"
                     nzAllowClear>
            <nz-option *ngFor="let o of vehicles" [nzValue]="o.id" [nzLabel]="o.number"/>
          </nz-select>
          <nz-range-picker nzMode="month" [(ngModel)]="revenueRangeDate"/>
          <button nz-button [nzType]="'primary'" (click)="onRevenueChartSearch()" [nzLoading]="revenueChartLoading">
            <i nz-icon nzType="search"></i>
          </button>
        </div>
      </ng-template>
    </nz-tabset>
</nz-card>

<!-- expenditure chart -->
<nz-card [nzBordered]="false" class="ant-card__body-nopadding overall-chart-card">
  <nz-tabset [nzAnimated]="false"  [nzTabBarExtraContent]="expendExtraTemplate" (nzSelectedIndexChange)="expenditureTabChange($event)">
    <nz-tab nzTitle="{{ 'analysis.expenditure' | translate }}">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            @if (expenditureTabs[0].show) {
              <g2-bar height="295" style="width: 100%" title="{{ 'analysis.expenditure-trend' | translate }}" [data]="expenditureBarData" />
            }
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">{{ 'analysis.expenditure-rank' | translate }}</h4>
            <ul class="rank-list">
              @for (i of expenditureRankListData; track $index) {
                <li>
                  <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                  <span class="title">{{ i.title }}</span>
                  <span class="value">¥{{ i.total }}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="{{ 'analysis.expenditure-details' | translate }}">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            @if (expenditureTabs[1].show) {
              <g2-timeline height="295" style="width: 100%" title="{{ 'analysis.expenditure-type-trend' | translate }}"
                           [slider]="false"
                           [data]="expenditureLineData"
                           mask="YYYY/MM"
                           [titleMap]="expenditureLineTitleMap"/>
            }
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">{{ 'analysis.expenditure-rank' | translate }}</h4>
            <ul class="rank-list">
              @for (i of expenditureRankListData; track $index) {
                <li>
                  <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                  <span class="title">{{ i.title }}</span>
                  <span class="value">¥{{ i.total }}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>
    <ng-template #expendExtraTemplate>
      <div>
        <nz-select nzPlaceHolder="{{ 'expenditure.select-type' | translate }}" style="margin-right: 8px"
                   *ngIf="expenditureTabs[1].show"
                   nzAllowClear>
          <nz-option *ngFor="let o of expendTypes" [nzValue]="o.value" [nzLabel]="o.text"/>
        </nz-select>
        <nz-select nzPlaceHolder="{{ 'global.select-vehicle-number' | translate }}" style="margin-right: 8px"
                   *ngIf="expenditureTabs[1].show"
                   nzMode="multiple"
                   [nzMaxMultipleCount]="5"
                   nzAllowClear>
          <nz-option *ngFor="let o of vehicles" [nzValue]="o.id" [nzLabel]="o.number"/>
        </nz-select>
        <nz-range-picker nzMode="month" [(ngModel)]="expenditureRangeDate"/>
        <button nz-button [nzType]="'primary'" (click)="onExpenditureChartSearch()" [nzLoading]="expenditureChartLoading">
          <i nz-icon nzType="search"></i>
        </button>
      </div>
    </ng-template>
  </nz-tabset>
</nz-card>

<!-- payroll chart -->
<nz-card [nzBordered]="false" class="ant-card__body-nopadding overall-chart-card">
  <nz-tabset [nzAnimated]="false"  [nzTabBarExtraContent]="payrollExtraTemplate" (nzSelectedIndexChange)="payrollTabChange($event)">
    <nz-tab nzTitle="{{ 'analysis.payroll' | translate }}">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            @if (payrollTabs[0].show) {
              <g2-bar height="295" style="width: 100%" title="{{ 'analysis.payroll-trend' | translate }}" [data]="payrollBarData" />
            }
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">{{ 'analysis.payroll-rank' | translate }}</h4>
            <ul class="rank-list">
              @for (i of payrollRankListData; track $index) {
                <li>
                  <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                  <span class="title">{{ i.title }}</span>
                  <span class="value">¥{{ i.total }}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="{{ 'analysis.payroll-details' | translate }}">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            @if (payrollTabs[1].show) {
              <g2-timeline height="295" style="width: 100%" title="{{ 'analysis.payroll-trend' | translate }}"
                           [slider]="false"
                           [data]="payrollLineData"
                           mask="YYYY/MM"
                           [titleMap]="payrollLineTitleMap"/>
            }
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">{{ 'analysis.payroll-rank' | translate }}</h4>
            <ul class="rank-list">
              @for (i of payrollRankListData; track $index) {
                <li>
                  <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                  <span class="title">{{ i.title }}</span>
                  <span class="value">¥{{ i.total }}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>
    <ng-template #payrollExtraTemplate>
      <div>
        <nz-select nzPlaceHolder="{{ 'global.select-driver' | translate }}" style="margin-right: 8px"
                   *ngIf="payrollTabs[1].show"
                   nzMode="multiple"
                   [nzMaxMultipleCount]="5"
                   nzAllowClear>
          <nz-option *ngFor="let o of drivers" [nzValue]="o.id" [nzLabel]="o.name"/>
        </nz-select>
        <nz-range-picker nzMode="month" [(ngModel)]="payrollRangeDate"/>
        <button nz-button [nzType]="'primary'" (click)="onPayrollChartSearch()" [nzLoading]="payrollChartLoading">
          <i nz-icon nzType="search"></i>
        </button>
      </div>
    </ng-template>
  </nz-tabset>
</nz-card>

<!-- profit chart -->
<nz-card [nzBordered]="false" class="ant-card__body-nopadding overall-chart-card">
  <nz-tabset [nzAnimated]="false"  [nzTabBarExtraContent]="profitExtraTemplate" (nzSelectedIndexChange)="profitTabChange($event)">
    <nz-tab nzTitle="{{ 'analysis.profit' | translate }}">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            @if (profitTabs[0].show) {
              <g2-bar height="295" style="width: 100%" title="{{ 'analysis.profit-trend' | translate }}" [data]="profitBarData" />
            }
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">{{ 'analysis.profit-rank' | translate }}</h4>
            <ul class="rank-list">
              @for (i of profitRankListData; track $index) {
                <li>
                  <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                  <span class="title">{{ i.title }}</span>
                  <span class="value">{{ i.total  }}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="{{ 'analysis.profit-details' | translate }}">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            @if (profitTabs[1].show) {
              <g2-timeline height="295" style="width: 100%" title="{{ 'analysis.profit-vehicle-trend' | translate }}"
                           [slider]="false"
                           [data]="profitLineData"
                           mask="YYYY/MM"
                           [titleMap]="profitLineTitleMap"/>
            }
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">{{ 'analysis.profit-rank' | translate }}</h4>
            <ul class="rank-list">
              @for (i of profitRankListData; track $index) {
                <li>
                  <span class="number" [ngClass]="{ active: $index < 3 }">{{ $index + 1 }}</span>
                  <span class="title">{{ i.title }}</span>
                  <span class="value">¥{{ i.total }}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>
    <ng-template #profitExtraTemplate>
      <div>
        <nz-select nzPlaceHolder="{{ 'global.select-vehicle-number' | translate }}" style="margin-right: 8px"
                   *ngIf="profitTabs[1].show"
                   nzMode="multiple"
                   [nzDropdownMatchSelectWidth]="false"
                   [nzMaxMultipleCount]="5"
                   nzAllowClear>
          <nz-option *ngFor="let o of vehicles" [nzValue]="o.id" [nzLabel]="o.number"/>
        </nz-select>
        <nz-range-picker nzMode="month" [(ngModel)]="profitRangeDate"/>
        <button nz-button [nzType]="'primary'" (click)="onProfitChartSearch()" [nzLoading]="profitChartLoading">
          <i nz-icon nzType="search"></i>
        </button>
      </div>
    </ng-template>
  </nz-tabset>
</nz-card>
